.btn-bottom {
  @include oneline-sprite-box($icons, btn-arrow);
  display: inline-block;
}

.btn-wrap {
  position: relative;

  &.style-a .btn {
    font-size: 14px;
    font-family: $roboto-black;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 20px 75px;
    background: #000;
    text-transform: uppercase;
    @include border-radius(2px)
  }

  &.style-b {

    &:before {
      @include pseudo-block($top: 50%, $left: 100%);
      @include transform(translate(-40px, -50%));
      @include oneline-sprite-box($icons, btn-r-arrow);
    }

    .btn {
      border: 1px solid #000;
      background: transparent;
      font-size: 18px;
      padding: 17px 90px;
      font-family: $roboto-black;
      text-transform: uppercase;
    }
  }
}