form {
  @include clearfix();

  .left-part, .right-part {
    display: inline-block;
    vertical-align: bottom;
  }

  .left-part {
    width: 380px;
    margin-right: 80px;
  }

  input:not([type=submit]):not([type=checkbox]):not([type=radio]), textarea {
    display: block;
    padding: 13px 0;
    @include input-placeholder(#000);
    text-transform: uppercase;
    font-size: 13px;
    font-family: $roboto-black;
    background: none;
    border: none;
    border-bottom: 1px solid #c5c5c5;
    margin-bottom: 50px;
    width: 100%;

    &::-webkit-input-placeholder {
      text-indent: 0px;
      transition: text-indent 0.3s ease;
    }
    &::-moz-placeholder {
      text-indent: 0px;
      transition: text-indent 0.3s ease;
    }
    &:-moz-placeholder {
      text-indent: 0px;
      transition: text-indent 0.3s ease;
    }
    &:-ms-input-placeholder {
      text-indent: 0px;
      transition: text-indent 0.3s ease;
    }
    &:focus::-webkit-input-placeholder {
      text-indent: -500px;
      transition: text-indent 0.3s ease;
    }
    &:focus::-moz-placeholder {
      text-indent: -500px;
      transition: text-indent 0.3s ease;
    }
    &:focus:-moz-placeholder {
      text-indent: -500px;
      transition: text-indent 0.3s ease;
    }
    &:focus:-ms-input-placeholder {
      text-indent: -500px;
      transition: text-indent 0.3s ease;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}